#s-about {
    @include spacing-section;
    @include flexbox-center;
    margin-top: 20vh;
    height: 700px;

    .grid-layout {
        @include flexbox-between;
        max-width: 90vw;

        @include responsive-tablet {
            @include flexbox-between; 
            flex-direction: column;
        }




        article {
            @include flexbox-center;

            

            display: flex;
            justify-content: center;
            align-items: center;
        
            
           
            

            svg {
                position: absolute; 
                background-size: cover;
                width: 600px;
            }

            .blob-img {
               position: relative; 
               background-size: cover;
               border-radius: 10px;
               top: 20; 
               bottom: 0;
                              
            } 


        }

        #about-text {
            @include flexbox-center; 
            max-width: 600px;
            height: 25vh;
            margin-left: 13vw;


            h2 {
                @include title;
            }

            p {
                color: white;
                text-align: center;
                margin-top: 60px;

                font: {
                    size: 1.5rem;
                }
            }


            @include responsive-tablet {
                margin-top: 100px;
                margin-left: 0;
            }
        }
    }

}