#s-projects {
    @include spacing-section;
    min-height: 20vh;  
    text-align: center;

    .grid-layout {
        
        h2{@include title; margin-top: 40px; }
    }

    #projects {
        padding: $gap-2;
        margin: $gap-3 0px;
        @include flexbox-around;
        flex-wrap: wrap;
        text-align: left;
        height: 90vh; 

        // max-width: ;

        .intervalcard {
            @include flexbox-center;
            flex-direction: column;

            max-width: 400px;
            padding: $gap-4;
            margin-top: 5vh;
            background-color: #D119FF;

            @include responsive-tablet {
                margin-bottom: 40px;
            }

            h3 {
                color: rgb(63, 2, 66); 
                padding: 0px 0px  $gap-2 0px ;
                font: {
                    size: 1.9rem;
                }

            }

            p {
                
                margin-top: 25px;
                margin-bottom: 55px;
                text-align: justify;
                font: {
                    size: 1.7rem;
                }

            }


            a {
                padding: 10px 35px;
                margin: 10px;
                border: 1px solid black;
            }
            


        }


      
        
    }
}