#s-projects {
    @include spacing-section;
    min-height: 20vh;  
    text-align: center;

    .grid-layout {
        
        h2{@include title; margin-top: 40px; }

        h3{
            a{
                position: relative;  
                transition: 0.5s;
                color: $text-prymary-color; 
                font: {
                    size: 1.5rem; 
                }

                @include hover-link();
                &:hover {
                    color: white;
                }
            }
        }
    }

    #projects {
        padding: $gap-2;
        margin: $gap-3 0px;
        @include flexbox-around;
        flex-wrap: wrap;
        text-align: left;
        height: 90vh; 

        // max-width: ;

        .intervalcard {
            @include flexbox-center;
            flex-direction: column;

            max-width: 400px;
            padding: $gap-4;
            margin-top: 5vh;
            background-color: #D119FF;
            border-radius: 15px;

            @include responsive-tablet {
                margin-bottom: 40px;
            }

            h3 {
                color: #0A0016; 
                padding: 0px 0px  $gap-1 0px ;
                border-bottom: 1px solid #0A0016;
                font: {
                    size: 2rem;
                }

            }

            p {
                color: white;
                height: 15vh;
                margin-top: 25px;
                margin-bottom: 55px;
                text-align: justify;
                font: {
                    size: 1.4rem;
                }


                span {
                    color: $bg-color; 
                    font-weight: bolder;
                }

            }


            a {
                color: #0A0016;
                padding: 10px 30px;
                position: relative;
                margin: 10px;
                letter-spacing: 0.1em;
                font-weight: 700;
                border-radius: .2em;
                text-transform: uppercase;
                border: 2px solid #0A0016;

                transition: 0.5s;



                &:hover {
                    color: white;
                    background-color: #a202ca;
                    letter-spacing: 0.15em;
                    box-shadow: 0 0 15px #a202ca;

                    &::before {
                        content: '';
                        position: absolute;
                        inset: 2px;
                       
                        background: #0A0016;
    
                         
                        
                    }

                }

                

                    
                span {
                    position: relative;
                    z-index: 1;
                }




                
            }

            
            


        }


      
        
    }
}