@import 'variables';
/* Zerando a pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h4,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0
}

a {
    text-decoration: none
}

html {
    scroll-behavior: smooth;

}
   
:target {
    scroll-margin-top: .8em;
}


/* body settings */

body {
    background-color: $bg-color;

}

