#s-skills {
    @include spacing-section;
    height: 400px;

    .grid-layout {
        @include flexbox-between;
        max-width: 90vw;



        .skills-title {
            margin: 15vh;

            h2 {
                @include title;
            }

            h3 {
                position: relative;
                text-transform: uppercase;
                width: 600px;
                height: 150px;
                top: 60px;
                color: white;

                font: {
                    size: 1.2rem;
                }

            }

            @include responsive-tablet {
                .text-skills {
                    display: none;
                }
            }


        }

        #skills {
            @include flexbox-evenly;
            flex-wrap: wrap;
            position: static;
            max-width: 700px;

            .item {
                @include flexbox-center;
                width: 117px;
                height: 124px;
                border-radius: 5px;
                margin: 3px;

                background-color: #d119ff;
                transition: 0.5s;

                &:hover {
                    cursor: pointer;
                    border: 5px solid rgba(255, 255, 255, 0.43);
                }

                img {
                    width: 100px;
                    height: 100px;
                }
            }
        }


        @include responsive-tablet {
            @include flexbox-center;

            margin-top: 25px;
        }
    }
}