// Mobile
$small: 300px;
$medium: 992px;

$gap-0: 0px;
$gap-1: 8px;
$gap-2: 16px;
$gap-3: 24px;
$gap-4: 32px;
$gap-5: 48px;
$gap-6: 64px;
$gap-7: 72px;
$gap-8: 96px;
$gap-9: 128px;

$bg-color: #0A0016;
$text-prymary-color: #D11AFF;



@mixin hover-link() {
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 1px;
      bottom: -7px;
      left: 0;
      background: linear-gradient(270deg, $text-prymary-color 0%, #17161d 100%);
      transform-origin: bottom right;
      transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    }
    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
}

@mixin img-animate { 
    &::after {
        content: ""; 
        transform: scaleX(0);
        transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    }
    &:hover {
        transform: scaleX(1.1);
    }
}



@mixin flexbox-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flexbox-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@mixin flexbox-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}




@mixin spacing-section() {
  padding: $gap-7 $gap-5;
  @include responsive-tablet {
    padding: $gap-5 $gap-5;
  }
}


// Responsive Section

@mixin responsive-desktop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin responsive-tablet {
  @media screen and (max-width: 992px) {
    @content;
  }
}

@mixin responsive-mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}


// animates 

@mixin piscar {
  content: '|';
  margin-left: 5px;
  opacity: 1;
  animation: piscar .7s infinite;

  @keyframes piscar {

    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
    
  }
}

// styles-font 
@mixin title { 
  color: $text-prymary-color; 
  font: {
    size: 2.5rem; 
  }
}